html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: Azonix;
    src: url(./fonts/Azonix.otf);
}

@font-face {
    font-family: Montserrat;
    src: url(./fonts/Montserrat-Regular.ttf);
}

* {
    margin: 0;
    padding: 0
}

body {
    background-color: #3d3d3d;
    height: 100%;
}

a {
    text-decoration: none; 
}

a:visited {
    color: whitesmoke;
}
a {
    color: whitesmoke;
}

/*--------------------Header--------------------*/
.header {
    background-color: #333333;
    color: white;
    height: 8vh;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 100%;
}

.navigation {
    display: flex;
    gap: 1rem;
    padding-right: 1rem;
}

.navigation button {
    background-color: #64c2ec;
    color: black;
    font-family: "Azonix";
    padding: 10px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
}

.navigation a {
    border-radius: 100px;
}

.navigation *:hover, #mobile-navigation button:hover, #exit-button-container button:hover {
    background-color: #01ceee;
}

#mobile-navigation, #mobile-navigation-menu {
    display: none;
}

@media (max-width: 767px) {
    .navigation {
        display: none;
    }

    #mobile-navigation {
        display: flex;
    }

    #mobile-navigation button, #exit-button-container button {
        width: 5vh;
        height: 5vh;
        background-color: #64c2ec;
        border-radius: 100px;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1.5vh;
    }

    #mobile-nav-img, #exit-button-container-img {
        height: 3vh;
    }

    #mobile-navigation-menu {
        width: 50vw;
        height: 50vh;
        display: none; /*CHANGE TO NONE*/
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        background-color:  #464646;
        z-index: 9999;
    }

    #exit-button-container {
        width: 100%;
        height: 8vh;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
    }

    #navigation-options-container {
        color: whitesmoke;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-family: "Azonix";
        font-size: 5vw;
        padding-left: 2vw;
    }
}

/*--------------------Title--------------------*/



#title, #about-me {
    font-family: "Azonix";
    color: whitesmoke;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vw;
}


/*--------------------About Me--------------------*/

.about-me-grid {
    width: 90vw;
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3vw;
    word-wrap: break-word;
    margin: 0px 30px;
}

.about-me-grid img{
    grid-row: span 3;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#about-me-name {
    display: flex;
    font-size: 2.5vw;
    justify-content: center;
    align-items: center;
}

#about-me-text {
    font-family: "Montserrat";
    font-size: 2vmin;
    grid-row: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1023px) {
    .about-me-grid {
        height: 80vh;
        grid-template-columns: 1fr;
    }

    #about-me-name {
        font-size: 4vw;
    }

    #about-me-text {
        font-size: 3vmin;
    }
}

/*--------------------Projects--------------------*/
#projects {
    font-family: "Azonix";
    color: whitesmoke;
    height: 100vh;
    display: block;
}

#projects-header {
    height: 12vmin;
    font-size: 6vw;
    padding-top: 8vh;
    padding-left: 8vw; /*subject to change*/
}

#projects-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 8vh;
}

.projects-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 50%;
    font-size: 1.5vw;
}

.projects-item img {
    border: 10px solid black;
    border-radius: 50px;
    height: 100%;
    width: 100%;
}

@media (max-width: 767px) {
    .projects-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 40%;
        width: 90%;
        font-size: 3vw;
    } 
}

/*--------------------Footer--------------------*/

#footer {
    font-family: "Azonix";
    font-size: 2vh;
    background-color: #333333;
    color: white;
    height: 8vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

#icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

.icon img{
    height: 3vh;
}