html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: Azonix;
    src: url(./fonts/Azonix.otf);
}

@font-face {
    font-family: Montserrat;
    src: url(./fonts/Montserrat-Regular.ttf);
}

* {
    margin: 0;
    padding: 0
}

body {
    background-color: #3d3d3d;
    height: 100%;
}

a {
    text-decoration: none; 
}

a:visited {
    color: whitesmoke;
}

/*--------------------Header--------------------*/
.header {
    background-color: #333333;
    color: white;
    height: 8vh;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 100%;
}

.navigation {
    display: flex;
    gap: 1rem;
    padding-right: 1rem;
}

.navigation button {
    background-color: #64c2ec;
    color: black;
    font-family: "Azonix";
    font-size: 0.75vw;
    padding: 10px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
}

.navigation a {
    border-radius: 100px;
}

.navigation *:hover {
    background-color: #01ceee;
}

/*--------------------Title--------------------*/



#title, #about-me {
    font-family: "Azonix";
    color: whitesmoke;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vw;
}


/*--------------------About Me--------------------*/

.about-me-grid {
    /*set height and width of grid*/
    height: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
    word-wrap: break-word;
    margin: 0px 30px;
}

.about-me-grid img{
    grid-row: span 3;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#about-me-name {
    display: flex;
    font-size: 60px;
    justify-content: center;
    align-items: center;
}

#about-me-text {
    font-family: "Montserrat";
    font-size: 20px;
    grid-row: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*--------------------Projects--------------------*/
#projects {
    font-family: "Azonix";
    color: whitesmoke;
    height: 100vh;
    display: block;
}

#projects-header {
    height: 8vh;
    font-size: 8vh;
    padding-top: 8vh;
    padding-left: 8vh; /*subject to change*/
}

#projects-grid-container {
    height: 84vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects-grid {
    gap: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: red; /*remove once fully edited*/
    height: 300px;
    width: 700px;
    font-size: 25px;
}

.projects-item img {
    border: 10px solid black;
    border-radius: 50px;
    height: 90%;
    width: 100%;
}

/*--------------------Footer--------------------*/

#footer {
    font-family: "Azonix";
    background-color: #333333;
    color: white;
    height: 8vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.icon img{
    height: 25px;
}