* {
    margin: 0;
    padding: 0
}

body{
    height: 100%;
}

.header {
    background-color: #333333;
    color: white;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
}

.logo {
    height: 100%;
}

.navigation {
    display: flex;
    gap: 1rem;
}

.navigation *{
    background-color: #64c2ec;
    color: black;
    padding: 10px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
}

.navigation *:hover {
    background-color: #01ceee;
}

.rest {
    background-color: red;
    height: 92vh;
}